.container {
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 5px;
  margin-top: 5px;
}

button {
  margin-top: 10px;
}
